{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="row justify-content-center my-5">
    <div class="col-xl-4 col-md-5 my-5">
        <h1 class="mb-4">Reset your password</h1>
        <p class="my-3">We've emailed you instructions for Re-setting your password.</p>
        <p class="my-3">If you don't receive an email, please make sure you've entered the address you registered with.
        </p>
        <a class="btn btn-danger btn-lg mt-5" href="/">Go Back</a>

    </div>
</div>
{% endblock %}