{% extends "shop/base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="row justify-content-center my-5">
    <div class="col-lg-5 col-md-5">
        <h1>Reset your password</h1>
        {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            <div class="text-white">
                {{ form|crispy }}
            </div>
            {% csrf_token %}
            <p><input class="btn btn-primary" type="submit" value="Change my password" /></p>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}